.skeleton-card {
  position: relative;
  width: 85vw;
  max-width: 500px;
  height: 60vh;
  max-height: 500px;
  border-radius: 20px;
  background-color: #f0f0f0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  animation: pulse 1.5s infinite ease-in-out;
}

.skeleton-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e0e0e0;
}

.skeleton-text-container {
  padding: 20px;
  background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
  z-index: 2;
  width: 100%;
}

.skeleton-text {
  background-color: #c0c0c0;
  border-radius: 4px;
  height: 20px;
  margin-bottom: 10px;
}

.skeleton-title {
  width: 60%;
  height: 24px;
}

.skeleton-subtitle {
  width: 40%;
}

@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #d0d0d0;
  }
  100% {
    background-color: #e0e0e0;
  }
}

/* Make skeleton card appear in the same stack position */
.cardContainer > .skeleton-card {
    position: absolute;
}
